*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}


.row {
    display: flex;
}

.build-info__flats,
.build-info__floor,
.build-info__aparts{
    width: 50%;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 0;
    text-align: center;
}


.floor,
.apart {
    fill: #42a5f580;
    stroke: #1b5889;
    opacity: 0;
    cursor: url(../img/cursor.svg) 4 5, pointer;

}

.floor:hover {
    opacity: 1;
    
}
.apart:hover {
    opacity: 1;
    
}


.build-info{
    padding: 10px 25px ;
    border-radius: 10px;
    
}
    
.build-info__floor h5,
.build-info__flats h5,
.build-info__aparts h5{
    padding-bottom: 5px;
}